[submodule "zsh/.config/zsh/powerlevel10k"]
	path = zsh/.config/zsh/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "zsh/.config/zsh/antidote"]
	path = zsh/.config/zsh/antidote
	url = git@github.com:mattmc3/antidote.git
